<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to aditya dhaba</title>
    </head>
    <body>
        <form action="ff" method="POST">
            
                <label for="num1">Name</label>
                <input type="text" id="num1" name="num1"><br>
                <label for="num2">Num2</label>
                <input type="text" id="num2" name="num2"><br>
              
               
                <input type="submit" value="Submit">
{{total}}
            
            


        </form>

    </body>

</html>